body {
  margin: 0px;
  background-color: #c8d9c9;
  color: #525952;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

h1 {
  text-align: center;
}

label {
  width: 150px;
  float: left;
}

.error {
  color: red;
}

.thumbnail {
  float: left;
  padding: 5px;
  margin: 8px;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 6px -1px #222;
}

.menuitem {
  float: left;
  margin-right: 10px;
}

.content {
  clear: both;
  padding: 20px;
}

#usermenu {
  background-color: #878c87;
  width: 100%;
  border-bottom-color: #dedede;
  line-height: 25px;
  border: 1px solid;
  border-color: #ccc;
  box-shadow: 0 8px 6px -6px #555;
  margin-bottom: 25px;
  display: inline-block;
}

#usermenu a {
  text-decoration: none;
  color: white;
}

#usermenu a:hover {
  text-decoration: underline;
}
